<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Planets</title>
    <style type="text/css">
      @font-face {
        font-family: "Starjedi";
        src:  url(./Starjedi.woff) format('woff'),
              url(./Starjedi.woff2) format('woff2');
        font-weight: normal;
        font-style: normal;
      }
    
      html {
        background-color: black;
        color: yellow;
      }
    
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    
      #app {
        font-family: Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    
      h1 {
        padding: 0 2.5rem;
        font-family: "Starjedi", Helvetica, Arial, sans-serif;
        text-align: center;
        line-height: 0.8;
        letter-spacing: 0.05em;
        text-shadow: 0 0 0.1em rgba(255, 255, 0, 0.5);
      }
    
      @media screen and (min-width: 30rem) {
        h1 {
          font-size: 5rem;
        }
      }
    </style>

  </head>
  <body>
    <h1>Planets of the Galaxy</h1>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
