<template>
    <span class="loader">
        <span class="loader__text">Loading</span>
    </span>
</template>

<script>
export default {
    
}
</script>

<style scoped lang="scss">
.loader {
    @keyframes loader-spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &__text {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px; 
        width: 1px; 
        overflow: hidden;
        pointer-events: none;
    }

    &::after {
        content: "";
        width: 2rem;
        height: 2rem;
        border: .1rem solid yellow; 
        border-right-color: transparent;
        border-radius: 50%;
        animation: loader-spin 1s linear infinite;
    }
}
</style>