<template>
    <section class="planets">
        <div v-if="!loading">
            <form class="planets__filters">
                <label
                    v-for="(filter, name) in filters"
                    :key="name"
                    :filter="filter"
                    :name="name"
                >{{name}}:
                    <select class="planets__select" type="select" :name="name" v-model="activeFilters[name]">
                        <option v-for="filter in filter" :key="filter" :value="filter">{{filter}}</option>
                    </select>
                </label>

                <label
                    v-for="(range, name) in ranges"
                    :key="name"
                    :filter="range"
                    :name="name"
                >max. {{name}}:
                    <input class="planets__range" v-model="activeRanges[name]" type="range" :min="range[0]" :max="range[1]" step="0.01">
                    <!-- not so useful for population numbers. logarithmic scale would be nicer -->
                    <!-- maybe multi-thumb ranges as well? -->
                    <span class="planets__range--indicator">{{activeRanges[name]}}</span>
                </label>
            </form>
            <ul class="planets__list">
                <Planet 
                    v-for="planet in planets" 
                    :shown="!isFiltered(planet.name) && isInRange(planet.name)"
                    :key="planet.name" 
                    :planet="planet"
                />
            </ul>
        </div>
        <Loader v-else />
    </section>
</template>

<script>
import Planet from '@/components/Planet.vue'
import Loader from '@/components/Loader.vue'

export default {
    components: {
        "Planet": Planet,
        "Loader": Loader
    }, 

    data: () => {
        return {
            loading: "true",
            fetchPage: 1,
            planets: [],
            filters: {
                "terrain": ["Any"],
                "climate": ["Any"]
            },
            ranges: {
                "diameter": [0, 0],
                "population": [0, 0],
                "gravity": [0, 0]
            },
            activeFilters: {
                "terrain": "Any",
                "climate": "Any"
            },
            activeRanges: {
                "diameter": 0,
                "gravity": 0,
                "population": 0
            }
        }
    },

    methods: {
        fetchPlanets: function() {
            fetch(`https://swapi.dev/api/planets/?page=${this.fetchPage}`)
                .then(resp => resp.json())
                .then((json) => {
                    let results = json.results
                        .filter((planet) => planet.name !== "unknown")
                        .map((planet) => {
                            planet.gravity = planet.gravity.replace('standard', '').trim();
                            planet.gravity = planet.gravity.replace('N/A', 'unknown').trim();
                            return planet
                        });
                    this.planets.push(...results);

                    this.setupFilters(results);
                    this.setupRanges(results);

                    if (json.next) {
                        this.fetchPage ++;
                        this.fetchPlanets();
                    } else {
                        this.loading = false;
                    }
                })
                .catch((e) => {
                    console.error(e);
                })
        },

        setupFilters(planets) {
            Object.keys(this.filters).forEach(key => {
                this.filters[key].push(
                    ...planets
                        .filter(planet => planet[key] !== "unknown")
                        .map(planet => planet[key].split(', '))
                        .flat()
                );

                this.filters[key] = [...new Set(this.filters[key])].sort();
            })
        },

        isFiltered: function(planetName) {
            const planet = this.planets.filter(planet => planet.name === planetName)[0];

            const terrainFilter = 
                this.activeFilters.terrain === "Any" 
                || planet.terrain.indexOf(this.activeFilters.terrain) >= 0;
            const climateFilter = 
                this.activeFilters.climate === "Any" 
                || planet.climate.indexOf(this.activeFilters.climate) >= 0;

            return !(terrainFilter && climateFilter);
        },

        setupRanges(planets) {
            Object.keys(this.ranges).forEach(key => {
                let rangeList = [];
                rangeList.push(
                    ...planets
                        .filter(planet => planet[key] !== "unknown")
                        .map(planet => planet[key].split(', '))
                        .flat()
                        // eslint-disable-next-line no-useless-escape
                        .map(range => range.match(new RegExp(/[\d\.]+/g))[0] * 1)
                );

                const minRange = Math.min(...rangeList);
                const maxRange = Math.max(...rangeList);
                this.ranges[key][0] = this.ranges[key][0] <= minRange ? this.ranges[key][0] : minRange;
                this.ranges[key][1] = this.ranges[key][1] >= maxRange ? this.ranges[key][1] : maxRange;
                this.activeRanges[key] = this.ranges[key][1];
            });
        },

        isInRange: function(planetName) {
            const planet = this.planets.filter(planet => planet.name === planetName)[0];

            const populationRange = planet.population === "unknown" || planet.population * 1 <= this.activeRanges.population;
            const diameterRange = planet.diameter === "unknown" || planet.diameter * 1 <= this.activeRanges.diameter;
            const gravityRange = planet.gravity === "unknown" 
                // eslint-disable-next-line no-useless-escape
                || planet.gravity.match(new RegExp(/[\d\.]+/g)).some(grav => grav <= this.activeRanges.gravity);

            return (populationRange && diameterRange && gravityRange);
        }
    },

    mounted() {
        this.fetchPlanets();
    }
}
</script>

<style scoped lang="scss">
.planets {
    padding: 2rem;

    &__filters {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        margin-bottom: 5rem;
    }

    &__select, &__range {
        display: block;
    }

    &__list {
        list-style: none;
        padding-inline-start: 0;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(26ch, 1fr));
        margin-top: 2rem;
    }

    &__range {
        &--indicator {
            display: block;
            margin-top: 0.3em;
            font-size: 0.8rem;
        }
    }
}

@media screen and (min-width: 30rem) {
    .planets {
        &__list {
            grid-template-columns: repeat(auto-fill, minmax(40ch, 1fr));
        }
    }
}
</style>