<template>
    <li v-if="shown" class="planet">
        <h2 class="planet__title">{{planet.name}}</h2>
        <ul class="planet__list">
            <li class="planet__entry"><span class="planet__entry--key">📐 Diameter:</span> {{diameter}}</li>
            <li class="planet__entry"><span class="planet__entry--key">⛰️ Terrain:</span> {{planet.terrain}}</li>
            <li class="planet__entry"><span class="planet__entry--key">🌧️ Climate:</span> {{planet.climate}}</li>
            <li class="planet__entry"><span class="planet__entry--key">🔽 Gravity:</span> {{planet.gravity}}</li>
            <li class="planet__entry"><span class="planet__entry--key">🌊 Surface Water:</span> {{planet.surface_water}}</li>
            <li class="planet__entry"><span class="planet__entry--key">☀️ Day/Night Cycle:</span> {{rotation_period}}</li>
            <li class="planet__entry"><span class="planet__entry--key">🗓️ Year Length:</span> {{orbital_period}}</li>
            <li class="planet__entry"><span class="planet__entry--key">🧑‍🤝‍🧑 Population:</span> {{population}}</li>
        </ul>
    </li>
</template>

<script>
export default {
    props: {
        planet: Object,
        shown: Boolean
    },

    computed: {
        population: function() {
            return Number(this.planet.population).toLocaleString() !== "NaN" ? Number(this.planet.population).toLocaleString() : this.planet.population;
        },

        diameter: function() {
            return this.planet.diameter === "unknown" || this.planet.diameter === "0" ? "unknown" : this.planet.diameter + "km";
        },

        rotation_period: function() {
            return this.planet.rotation_period === "unknown" || this.planet.rotation_period === "0" ? "unknown" : this.planet.rotation_period + "h";
        },

        orbital_period: function() {
            return this.planet.orbital_period === "unknown" || this.planet.orbital_period === "0" ? "unknown" : this.planet.orbital_period + "d";
        }
    }
}
</script>

<style scoped lang="scss">
.planet {
    position: relative;
    border: .1rem solid yellow; 
    padding: 2rem 1rem 1rem;
    border-radius: .5em;

    &__title {
        position: absolute;
        top: -2.2rem;
        left: 1rem;
        background: black;
        padding: 0 .5ch;
    }

    &__list {
        padding-inline-start: 0;
    }

    &__entry {
        line-height: 1.6;
        list-style: none;

        &--key {
            display: inline-block;
            margin-right: 0.5ch;
            font-weight: bold;
        }
    }
}
</style>