<template>
  <div id="app">
    <PlanetsList />
  </div>
</template>

<script>
import PlanetsList from './components/PlanetsList.vue'

export default {
  name: 'App',
  components: {
    PlanetsList
  }
}
</script>